
<% include partials/header.ejs %>
<% include partials/nav.ejs %>

<h1>
        <p>test</p>
        <% data.forEach((item)=>{ %>
            <h3><%= item %></h3>
          <% }); %>
      
  
</h1>
    
<p>test</p>


<% include partials/footer.ejs %>