<footer class="footer">
    <ul class="list-inline" style="float:left">
        <li><a href="#">Site map</a></li>
        <li>||</li>
        <li><a href="#">About</a></li>
    </ul>
    <ul class="list-inline" style="float:right">
        <li><a href="#">Terms of Service</a></li>
        <li>||</li>
        <li><a href="#">Privacy Policy</a></li>
    </ul>
</footer>
<script src="/assets/jquery-3-2-1.min.js"></script>
<script src="/assets/bootstrap-jq-3-3-7.min.js"></script>
</body>
</html>