
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Node</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/tire-size">Tire Size</a></li>
        <li><a href="/tire-brands">Tire Brands</a></li>
        <li><a href="/tire-dealers">Tire Dealers</a></li>
        <li><a href="/education">Education</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/profile/2">Profile</a></li>
      </ul>
    </div>
  </nav>