
<% include partials/header.ejs %>
<% include partials/nav.ejs %>

<div class="jumbotron text-center">
  <h1>Thank you</h1>
  <p> You contacted 
        <%= myUrlString.who %> in the 
        <%= myUrlString.dept %> department. 
        We'll contact you at 
        <%= myUrlString.email %>
  </p>
  <h3>We'll get back to you soon!</h3>
</div>
  
<div class="container">
  <div class="row">
    
  </div>
</div>
<!-- -->
<% include partials/footer.ejs %>
